{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inconsolata:wght@200&family=Playfair+Display&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/SDoPxNKdL3s.jpg' %}" alt="Лого">
        <span class="logo">Soon</span>
        <h4>Навигация</h4>
        <ul>
            <a href="{% url 'soon' %}"><li><i class="fas fa-home"></i> Главная</li></a>
            <a href="{% url 'about' %}"><li><i class="fas fa-book-open"></i> О нас</li></a>
            <a href="{% url 'news_home' %}"><li><i class="fa fa-paper-plane" aria-hidden="true"></i> Новости</li></a>
            <a href=""><li><i class="fa fa-user-circle" aria-hidden="true"></i> Контакты</li></a>
            <a href="{% url 'login' %}"><li><button type="button" class="btn btn-outline-danger "> Войти</li></a>
        </ul>
    </aside>
    <main>
    {% block content %}
    {% endblock %}
    </main>
</body>
</html>